@keyframes float-up {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(0.5em) translateY(-0.66em);
  }
  50% {
    transform: translateX(0em) translateY(-1.32em);
  }
  75% {
    transform: translateX(-0.5em) translateY(-1.98em);
  }
  100% {
    transform: translateX(0) translateY(-2.64em);
  }
}

.loop-anim(@segments, @index: 0) when (@index <= @segments) {
  .loop-anim(@segments, @index + 1);

  // (@index / @segments) { transform: translateY((-@index)em); }
}

@keyframes loop-anim {
  .loop-anim(10)
}

freestyle {
  display: flex;
  // flex-direction: column;

  align-items: stretch;
  justify-content: space-between;

  flex: 1 1 auto;

  .left-side {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;

    align-items: stretch;
    justify-content: space-between;
  }

  .overview {
    .stat {
      display: flex;

      margin: 0 0.25em;

      .name {
        width: 5em;

        font-weight: bold;

        word-wrap: break-word;
      }

      .bar {
        margin: 1px;
        background-color: #ff0;

        transition: all 0.5s ease-out;
      }

      .count {
        margin-left: 0.5em;

        font-size: 1.25em;
        line-height: 1em;

        font-weight: bold;
      }
    }
  }

  .exercises {
    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;

    flex: 1 0 auto;

    user-select: none;

    cursor: pointer;

    a {
      text-decoration: none;
    }

    .exercise {
      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;

      font-size: 2em;

      font-weight: bold;

      border: solid 1px #aaa;

      .quantities {
        display: flex;

        font-size: 0.75em;

        .quantity {
          padding: 0.5em;

          flex: 1 1 auto;

          &:hover {
            background-color: rgba(255, 255, 255, 0.8);
            color: #000;
          }

          .value {
            position: relative;

            .balloon-box {
              position: absolute;

              top: 0;
              left: 0;

              .balloon {
                position: absolute;

                height: 1em;
                width: 10em;

                top: -2em;

                overflow: visible;

                font-size: 1.25em;
                font-weight: bold;

                color: #6f6;
                text-shadow: 0 0 2px #333;

                animation: float-up 1.5s linear;
                animation-fill-mode: forwards;
              }
            }
          }
        }
      }
    }
  }
}