<div class="left-side">
  <div class="overview">
    <div ng-repeat="stat in analysis.stats"
         class="stat">
      <span class="name">{{stat.exercise.name}}</span>
      <span class="bar" ng-style="{'width': (100 * stat.count / analysis.total)+ '%'}">&nbsp;</span>
      <span class="count">{{stat.count}}</span>
    </div>

    <!-- <div class="" -->
  </div>

  <div class="exercises">
    <div ng-repeat="exercise in exercises">
      <div class="exercise">
        <span class="name">{{exercise.name}}</span>
        <div class="quantities">
          <div class="quantity" ng-click="click(exercise);$event.stopPropagation()">
            <div class="value">
              <span>+1</span>
              <div class="balloon-box">
                <div class="balloon" ng-repeat="balloon in plusOneBalloons[exercise.name][1]">+1 {{exercise.name}}!</div>
              </div>
            </div>
          </div>
          <div class="quantity" ng-click="click(exercise, 5);$event.stopPropagation()">
            <div class="value">
              <span>+5</span>
              <div class="balloon-box">
                <div class="balloon" ng-repeat="balloon in plusOneBalloons[exercise.name][5]">+5 {{exercise.name}}!</div>
              </div>
            </div>
          </div>
          <div class="quantity" ng-click="click(exercise, 10);$event.stopPropagation()">
            <div class="value">
              <span>+10</span>
              <div class="balloon-box">
                <span class="balloon" ng-repeat="balloon in plusOneBalloons[exercise.name][10]">+10 {{exercise.name}}!</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div class="activities">
  <div ng-repeat="activity in activities">
    <span class="name">{{activity.exercise.name}}</span>
  </div>
</div> -->